{% extends 'estates/base.html' %}

{% block title %}Home | Optiven Estate{% endblock %}

{% block content %}
    <div class="container mb-2">
        <p>{{ property.image.url }}</p>
        <p>Explore our range of properties and find your dream home today!</p>
        <h1 class="mb-1">Optiven Estates</h1>
        <div class="row">
            {% for property in properties %}
            <div class="col-md-4 mt-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ property.image.url }}" class="card-img-top" alt="{{ property.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ property.title }}</h5>
                        <p class="card-text">{{ property.description }}</p>
                        <p class="card-text"><strong>Price:</strong> ${{ property.price }}</p>
                        <p class="card-text"><strong>Location:</strong> {{ property.location }}</p>
                        <a href="{% url 'property_detail' property.id %}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
